@import 'http://fonts.googleapis.com/css?family=Roboto:400,300';
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
body {
  font-family: 'Roboto';
  color: #212121;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  border-top: solid 5px #2196F3;
}
.btn {
  font-weight: 300;
}
.navbar-right {
  float: right;
}
.navbar-right li {
  display: inline-block;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #727272;
}
.navbar-right li i {
  font-size: 20px;
}
.navbar-right li a {
  color: #727272;
}
.navbar-right .will {
  width: 40px;
}
.home {
  text-align: center;
  padding-bottom: 20px;
}
.logo {
  width: 150px;
}
.tarjetas {
  text-align: center;
}
.tarjetas .material-icons {
  padding-top: 10px;
  font-size: 50px;
}
h1 {
  color: #212121;
  font-weight: 300;
  font-size: 38px;
}
h4 {
  font-weight: 300;
  font-size: 18px;
}
.row-padded {
  padding-top: 80px;
  padding-bottom: 90px;
}
.row-bordered {
  position: relative;
}
.row-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bg-unity {
  background: linear-gradient(to left, #19e3b1, #00cccc);
}
.bg-swift {
  background: linear-gradient(to left, #FB9C44, #FC4831);
}
.bg-ux {
  background: linear-gradient(to left, #F06292, #E91E63);
}
.bg-frontend {
  background: linear-gradient(to left, #9575CD, #673AB7);
}
.bg-diseno {
  background: linear-gradient(to left, #E65100, #E65100);
}
.bg-full {
  background: linear-gradient(to left, #00BCD4, #00BCD4);
}
.bg-mean {
  background: #9E9E9E;
}
.cursos h5 {
  font-size: 17px;
  color: white;
}
.cursos .shows {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.cursos .display-3 {
  font-size: 40px;
  color: white;
}
.cursos .media-object {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  margin-right: 10px;
}
.cursos h4 {
  font-weight: 100;
  font-size: 30px;
}
.cursos i {
  border-radius: 50%;
  border: 2px solid #0275d8;
  padding: 11px;
  font-size: 60px;
  text-align: center;
  margin-right: 10px;
}
.espacios {
  padding-top: 20px;
  padding-bottom: 20px;
}
#onlines {
  display: none;
}
.MP-aron {
  display: block;
  width: 133px;
  height: 23px;
  background: url("http://resources.mlstatic.com/mptools/assets/MP-payButton-logos.png") 0px -3px;
  background-position: 0px -3px;
  margin-bottom: 10px;
}
.footer {
  padding: 6em;
  background: #222;
}
.footer-main {
  width: 28%;
  margin: 0 auto;
}
.social-icons {
  padding-top: 0.97em;
}
ul.top-social-icons {
  padding: 0;
}
.footer-left h6 {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  float: left;
}
.footer-right {
  float: right;
  width: 50%;
}
.footer-button {
  text-align: center;
  padding-top: 1em;
}
.footer-button a {
  padding: 0.9em 3em;
  font-size: 1.2em;
  background: #fff;
  color: #222;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
.footer-button a:hover {
  background: none;
  border: 1.5px solid #319AE0;
  text-decoration: none;
  color: #fff;
}
/*--//tip-info--*/
.social-icons {
  margin: 0 auto;
  text-align: center;
}
.top-social-icons li {
  display: inline-block;
  margin: 1.2em 0.3em;
}
.top-social-icons li a {
  width: 35px;
  height: 35px;
  display: block;
}
.facebook {
  background: url(../img/social-icons.png) no-repeat 1px 3px;
}
.twitter {
  background: url(../img/social-icons.png) no-repeat -48px 3px;
}
.pin {
  background: url(../img/social-icons.png) no-repeat -91px 3px;
}
.youtube {
  background: url(../img/social-icons.png) no-repeat -144px 3px;
}
.vimeo {
  background: url(../img/social-icons.png) no-repeat -192px 3px;
}
/*--------social simptip--------*/
[data-tooltip] {
  position: relative;
  display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #319AE0;
}
[data-tooltip].simptip-position-bottom:after {
  background-color: #319AE0;
  color: #fff;
}
[data-tooltip]:before {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
}
[data-tooltip]:after {
  height: 32px;
  padding: 16px 12px 0;
  font-size: 15px;
  line-height: 0px;
  content: attr(data-tooltip);
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}
[data-tooltip]:hover,
[data-tooltip]:focus {
  background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  opacity: 1;
}
.simptip-position-bottom.simptip-movable:before {
  margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
  margin-top: -3px;
}
.simptip-position-bottom:before,
.simptip-position-bottom:after,
.simptip-position-top:before,
.simptip-position-top:after {
  left: 32%;
}
.simptip-position-bottom:before,
.simptip-position-bottom:after {
  top: 110%;
}
.simptip-position-bottom:after,
.simptip-position-top:after {
  margin-left: -18px;
}
.simptip-position-right.simptip-movable:before,
.simptip-position-right.simptip-movable:after,
.simptip-position-left.simptip-movable:before,
.simptip-position-left.simptip-movable:after,
.simptip-position-top.simptip-movable:before,
.simptip-position-top.simptip-movable:after,
.simptip-position-bottom.simptip-movable:before,
.simptip-position-bottom.simptip-movable:after {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -ms-transition: all .1s linear;
  transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before,
.simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
/*******************/
.copy-right {
  text-align: center;
  padding: 1em;
  background: #222;
}
.copy-right p {
  color: #fff;
  font-size: 14px;
  margin-top: 1em;
  font-weight: 500;
}
.copy-right p a {
  color: #319AE0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.copy-right a:hover {
  color: #fff;
  text-decoration: none;
}
/******************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .offMobile {
    display: none !important;
  }
  .onMobile {
    display: block !important;
  }
  .navbar-right li {
    padding: 7px;
  }
  h1 {
    font-size: 28px;
  }
  .cursos {
    text-align: center;
  }
  .cursos i {
    font-size: 30px;
  }
  .cursos .media-left {
    padding-right: 0px;
    display: block;
  }
  .cursos .MP-aron {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .cursos .media-object {
    margin: 0 auto;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
