@import url(../fonts/stylesheet.css);
@import url(functions.less);

@azul: #004491;
@celeste: #3881C0;
@gris: #C8C9C5;

.azul{color: @azul;}
.azul-back{background: @azul;}
.celeste{color: @celeste;}
.celeste-back{background: @celeste;}
.gris{color: @gris;}
.gris-back{background: @gris;}

body{
	font-family: 'source_sans_proregular';
	font-size: 15px;
}
header{
	.btn-superior{
		float: right;
		li{
			list-style: none;
			float: left;
			background: @gris;
			width: 127px;
			height: 57px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			a{
				color: white;
				line-height: 15px;
			}
		}
		li:first-child{
			margin-right: 5px;
		}
	}
	.btn-social{
		width: 375px;
		float: right;
		li{
			display: inline-block;
		}
	}
}

footer{
	background: @azul;
	.container{
		background: @celeste;
	}
}