body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  background: #f5f5f5 !important;
}
.principal {
  height: 70vh;
}
.top50 {
  margin-top: 50px;
}
.footer32 {
  padding-bottom: 32px;
}
.home .logo {
  width: 160px;
  padding-top: 75px;
}
.home .card {
  text-align: center;
  padding-top: 20px;
  border: solid 1px #B6B6B6;
  border-radius: 5px;
}
.home .card i {
  font-size: 40px;
}
.home .card-block {
  padding: 20px;
  text-align: left;
  line-height: 20px;
}
.home .card-block .card-title {
  text-align: center;
}
.home .card-block .card-text {
  line-height: 20px;
}
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .offMobile {
    display: none !important;
  }
  .onMobile {
    display: block !important;
  }
  .card {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 42px;
  }
  h1 span {
    color: red;
  }
  .logo {
    width: auto !important;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
